.mail-preview {
    border-bottom: 1px solid rgb(165, 165, 165);
    align-items: center;
    box-sizing: border-box;
    max-height: 55px;
    width: 100%;
    position: relative;
}

.mail-preview>* {
    box-sizing: border-box;
}

.mail-preview:first-child {
    border-top: 1px solid rgb(165, 165, 165);
}

.mail-preview>* {
    padding: 8px;

    border-right: 1px solid rgb(165, 165, 165);
}



.star-preview {
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .from-preview {
    width: 10%;
  }
  
  .subject-preview {
    width: 15%;
  }
  .text-preview {
    width: 72%;
  }
  
  .bold {
    font-weight: bold;
  }

  /* .delete {
    display: none;
    position: absolute;
    right: 0;
  } */
  /* .mail-preview:hover .delete {
    display: flex;
    transform: scale(1.1);
  }
   */