.mail-preview {
  border-bottom: 1px solid rgb(165, 165, 165);
  align-items: center;
  box-sizing: border-box;
  max-height: 55px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}

.mail-preview>* {
  box-sizing: border-box;
}

.mail-preview>* {
  padding: 8px;
}

.email-row {
  display: flex;
  font-family: Roboto, Arial, sans-serif;
}

.from-preview {
  width: 15%;
}

.subject-preview {
  flex-basis: 20%;
}


.text-preview {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: 48%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.delete {
  opacity: 0;
}

.mail-preview:hover .delete {
  opacity: 1;
}

@media screen and (max-width: 540px) {
  .delete {
    opacity: 1;
  }
}

.bold {
  font-weight: bold;
}