.mail-preview {
    border-bottom: 1px solid rgb(165, 165, 165);
    align-items: center;
    box-sizing: border-box;
    max-height: 55px;
    width: 100%;
    position: relative;
}

.mail-preview>* {
    box-sizing: border-box;
}

.mail-preview:first-child {
    border-top: 1px solid rgb(165, 165, 165);
}

.mail-preview>* {
    padding: 8px;

    border-right: 1px solid rgb(165, 165, 165);
}

.email-row {
  display: flex;
}

.star-preview {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .from-preview {
    width: 15%;
  }
  
  .subject-preview {
    flex-basis: 20%;
  }


  @media screen and (max-width: 1630px) {
    .text-preview {
      flex-basis: 35%;
    }
    
}

.delete {
  flex-basis: 15%;
}

@media screen and (max-width: 830px) {
  .text-preview {
  display: none;
  }
}
  


  
  .bold {
    font-weight: bold;
  }

  /* .delete {
    display: none;
    position: absolute;
    right: 0;
  } */
  /* .mail-preview:hover .delete {
    display: flex;
    transform: scale(1.1);
  }
   */