.mail-folder-list {
  max-width: 20%;
  padding: 0 10px;
}

.mail-folder-list ul {
  padding: 0;

}

.mail-folder-list ul li {
  text-align: left;
  list-style: none;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

@media (max-width:540px) {
  .mail-folder-list ul li {
    display: flex;
    flex-direction: column;
    font-size: .75em;
    padding: 0;
  }
}

.mail-folder-list ul i {
  margin-inline-end: 10px;
}

.mail-folder-list ul li:hover,
.mail-folder-list ul li:active {
  background-color: #eee;
  color: #333;
}