.add-note {
    max-width: 600px;
    min-height: 50px;
    margin: 2em auto 2em;
    padding: .75em 1em;
    border-radius: .5em;

    box-shadow: 0px 2px 6px 2px rgb(0 0 0 / 22%);

}

.add-note textarea,
.add-note input {
    width: 100%;
    height: fit-content;
}

.add-note button{
    font-size: 1.25em;
}
