.add-note {
    max-width: 600px;
    /* min-height: 50px; */
    margin: 0 auto 2em;
    padding: .75em 1em;
    border-radius: .75em;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

}

.add-note textarea,
.add-note input {
    width: 100%;
}

.add-note textarea{
    resize: none;
}

.add-note :focus-visible {
    outline: none;

}