.note-edit {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 60vw;
    min-width: fit-content;
    border: solid 2px black;
    padding: 0.75em 1em;
    border-radius: 0.75em;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note-edit textarea,
.note-edit input {
    width: 100%;
}

.note-edit :focus-visible {
    outline: none;
}

.note-edit .btns-container {
    display: inline;
}
.note-edit button {
    background-color: inherit;
    border: none;
    font-size: 1.25em;
}

.note-edit .close-btn:hover {
    background-color: #00000010;
    border-radius: 5px;
}