.note-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5em;
    border: solid 1.1px var(--border-color);
    min-height: 100px;
    /* width: 240px; */
    min-width: 240px;
    background-color: white;
    break-inside: avoid;

    padding: .75em 1em;

    /* margin: 1em; */
    margin-bottom: 1em;
    /* transition: box-shadow 0.5s; */
}

.note-preview:hover {
    box-shadow: 0px 0px 5px -2px;
    ;
}

@media (min-width: 540px) {
    .note-preview .btns-container {
        opacity: 0;
    }
}


.note-preview:hover .btns-container {
    opacity: 1;
}

.btns-container.show-btn {
    opacity: 1;
}

.note-preview .btns-container>button {
    background-color: inherit;
    border: none;
}

