.todos-list {
    list-style-type: none;
    padding: 0;
}

.todos-list button {
    display: inline;
}

input[type=checkbox] {
    display: inline;
    width: 20px;
}

.todo-txt {
    border: none;
    width: 80%;
}