* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    font-family: inherit;
}

input {
    border: none;
    font-family: inherit;
}

:focus-visible {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: inherit;
}