/* Setup */

@import './setup/variables.css';
@import './setup/fonts.css';

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* Views */
@import './views/home.css';

@import './apps/note/views/note-app.css';
@import './apps/mail/views/mail-app.css';


/* @import './apps/mail/views/mail-app.css'; */

/* Cmps */

@import './cmps/user-msg.css';
@import './cmps/app-header.css';

@import './apps/mail/cmps/mail-list.css';


/* note */
@import './apps/note/cmps/note-preview.css';
@import './apps/note/cmps/note-list.css';
@import './apps/note/cmps/add-note.css';
@import './apps/note/cmps/note-img.css';
@import './apps/note/cmps/note-todos.css';
@import './apps/note/cmps/note-video.css';
@import './apps/note/cmps/note-edit.css';
@import './apps/note/cmps/color-picker.css';
@import './apps/note/cmps/screen.css';
@import './apps/note/cmps/note-todos-edit.css';
@import './apps/note/cmps/note-filter.css';

/* mail */
@import './apps/mail/cmps/mail-list.css';
@import './apps/mail/cmps/mail-preview.css';
