.note-index {
    margin: 0 auto;
    width: 95vw;
    height: fit-content;
    padding-left: 30px ;
}

.note-index>* {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: var(--txt-color);
}

.note-index input,
.note-index textarea{
    background-color: inherit;
}
